
/**
 * 由 Fantastic-mobile 提供技术支持
 * Powered by Fantastic-mobile
 * https://fantastic-mobile.hurui.me
 */
  
.navbar[data-v-99280c1f]{z-index:1000;width:min(100%,600px);position:fixed;top:0;left:calc(50% - min(50%,300px))}.tabbar[data-v-99280c1f]{z-index:1000;width:min(100%,600px);position:fixed;bottom:0;left:calc(50% - min(50%,300px))}.back-top[data-v-99280c1f]{z-index:1000;position:fixed;bottom:min(4.267vw,25.6px);right:calc(50% - min(274.4px,45.733%))}
