
/**
 * 由 Fantastic-mobile 提供技术支持
 * Powered by Fantastic-mobile
 * https://fantastic-mobile.hurui.me/
 */
    
.navbar[data-v-ea7fba1b]{position:fixed;top:0;left:calc(50% - min(50%,300px));z-index:1000;width:min(100%,600px)}.tabbar[data-v-ea7fba1b]{position:fixed;bottom:0;left:calc(50% - min(50%,300px));z-index:1000;width:min(100%,600px)}.back-top[data-v-ea7fba1b]{position:fixed;right:calc(50% - min(274.4px,45.733%));bottom:min(4.267vw,25.6px);z-index:1000}
